.contact {
  padding: 140px 0px;
  &__heading {
    color: $gray;
    margin-bottom: 60px;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  border-top: 0.5px solid $gray;
  &__item {
    margin-bottom: 40px;
    display: block;
    width: 50%;
    padding-right: 20px;
    &.error {
      input,
      textarea {
        border: 1.5px solid $primary;
      }
    }
    &--full {
      width: 100%;
      padding-right: 0px;
      font-weight: 700;
      font-size: 14px;
      line-height: 160%;
    }
  }

  &__item:nth-child(2),
  &__item:nth-child(4) {
    padding-right: 0px;
  }
  &__label {
    display: flex;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    span {
      color: $primary;
      margin-left: 6px;
    }
  }
  &__input,
  &__textarea {
    border-radius: 8px;
    outline: none;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    background: none;
    padding: 19px;
    &::-webkit-input-placeholder {
      font-weight: 400;
    }

    &:-ms-input-placeholder {
      font-weight: 400;
    }

    &::placeholder {
      font-weight: 400;
    }
  }
  &__textarea {
    height: 165px;
  }
  &__boxBtn {
    margin-top: 20px;
    & span {
      color: $primary;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    & a {
      color: $primary;
      cursor: pointer;
      line-height: 14px;
      border-bottom: 1px solid $primary;
    }
  }
}

@media only screen and (max-width: 539px) {
  /* PC Điện thoại nhỏ hơn 539px */
  .form {
    &__item {
      width: 100%;
      padding-right: 0px;
    }
    &__boxBtn {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__text {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    &__link {
      margin-top: 40px;
      width: 100%;
      text-align: center;
    }
  }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  /* Điện thoại màn hình lớn thua IPAD */
  .form {
    &__item {
      width: 100%;
      padding-right: 0px;
    }
    &__boxBtn {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__text {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    &__link {
      margin-top: 40px;
      width: 100%;
      text-align: center;
    }
  }
}
