.content {
  background: $bg2;
  padding-top: 140px;
  padding-bottom: 208px;
  position: relative;
  &__wrapper {
    display: block;
  }
  &__image {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, -50%);
  }
  &__heading {
    margin-bottom: 100px;
  }
  &__testimonials {
    margin-left: 140px;
  }
}
.slick-arrow {
  position: absolute;
  bottom: -100px;
  cursor: pointer;
  z-index: 99;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  display: flex;
}
.slick-initialized .slick-slide {
  margin-left: 20px;
  border-radius: 8px;
}
.slick-initialized .slick-slide:nth-child(1) {
  margin-left: 0px;
}
.testimonial {
  background: #fff;
  &__boxAvatar {
    height: 49px;
    overflow: hidden;
  }
  &__user {
    display: flex;
    align-items: center;
    margin-top: 32px;
    &__info {
      display: flex;
      align-items: center;
      margin-right: 8px;
      img {
        border-radius: 50%;
        width: 49px;
        height: 49px;
        margin-right: 10px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
      }
    }
    &__Social {
      height: 16px;
      display: flex;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
  &__image {
    margin-bottom: 48px;
  }
  &__wrapper {
    padding: 24px 40px 40px 40px;
  }
}
.left {
  left: 0;
}
.right {
  left: 68px;
}

@media only screen and (max-width: 539px) {
  /* PC Điện thoại nhỏ hơn 539px */
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  /* Điện thoại màn hình lớn thua IPAD */
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  /* IPAD  */
}
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  /* IPAD Pro */
}
@media only screen and (min-width: 1140px) and (max-width: 1319px) {
  /* PC lớn hơn 1200px */
}
@media only screen and (min-width: 1320px) {
}
