.episode {
  padding: 140px 0px;
  position: relative;
  background: $bg1;
  &__heading {
    width: 100%;
    text-align: center;
  }
  &__item {
    padding: 16px;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 12px;
    &--shadow {
      box-shadow: 10px 10px 0px #81adc8;
    }
  }
  &__list {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &__href {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  &__content {
    display: flex;
  }
  &__info {
    margin-left: 20px;
  }
  &__Eps {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: $primary;
    margin-bottom: 4px;
  }
  &__title {
    font-weight: 700;
    font-size: 22.65px;
    line-height: 140%;
    color: $primary;
    margin-bottom: 15px;
  }
  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    padding-top: 10px;
    border-top: 1px solid $gray;
  }
  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__text {
      font-weight: 700;
      font-size: 12px;
      line-height: 160%;
      color: $gray;
      margin-right: 10px;
    }
    &__BoxImage {
      display: flex;
    }
    &__BoxImage img {
      border-radius: 50%;
      height: 27px;
      width: 27px;
      border: 2px solid #fff;
    }
    &__borderImage:nth-child(2) {
      transform: translateX(-9px);
    }
  }
}

@media only screen and (max-width: 539px) {
  /* PC Điện thoại nhỏ hơn 539px */
  .episode {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  /* Điện thoại màn hình lớn thua IPAD */
  .episode {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  /* IPAD  */
  .episode {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  /* IPAD Pro */
}
@media only screen and (min-width: 1140px) and (max-width: 1319px) {
  /* PC lớn hơn 1200px */
}
@media only screen and (min-width: 1320px) {
}
