.features {
  padding: 140px 0px;
  background: #fff;
  position: relative;
  &__list {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
    margin-bottom: 100px;
  }
  &__box {
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__title {
    font-weight: 700;
    font-size: 22.65px;
    line-height: 140%;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
  }
  &__boxBtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__btn {
    display: block;
  }
}

@media only screen and (max-width: 539px) {
  /* PC Điện thoại nhỏ hơn 539px */
  .features {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20 0px;
    }
  }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  /* Điện thoại màn hình lớn thua IPAD */
  .features {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20 0px;
    }
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  /* IPAD  */
}
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  /* IPAD Pro */
}
@media only screen and (min-width: 1140px) and (max-width: 1319px) {
  /* PC lớn hơn 1200px */
}
@media only screen and (min-width: 1320px) {
}
