.footer {
  padding: 140px 0px 0px 80px;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    padding-bottom: 137px;
    border-bottom: 1px solid $gray;
  }
  &__social {
    width: 100%;
    &__list {
      display: flex;
    }
    &__list img {
      margin-right: 25px;
      display: block;
      cursor: pointer;
    }
  }
  &__menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    & li {
      list-style: none;
      margin-bottom: 20px;
      width: 50%;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      cursor: pointer;
      &.item--primary {
        color: $primary;
      }
    }
  }
  &__column {
    display: flex;
    flex-wrap: wrap;
  }
  &__logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 40px;
    & img {
      cursor: pointer;
    }
    &__desc {
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      color: $gray;
      width: 210px;
      margin-bottom: 40px;
    }
  }
  &__year {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    margin-left: 34px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray;
  }
  &__right__social img {
    height: 22px;
    margin-right: 36px;
    cursor: pointer;
  }
  &__right__social {
    margin-bottom: 60px;
  }
  &__right__social img:nth-child(3) {
    margin-right: 0px;
  }
  &__right__list {
    display: flex;
    width: 100%;
    & img {
      height: 36px;
      width: 36px;
      margin-left: 20px;
      cursor: pointer;
    }
    & img:nth-child(1) {
      margin-left: 0px;
    }
  }
  &__app {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray;
  }
  &__bottom {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
    }
    span {
      color: $primary;
    }
    &__list ul {
      display: flex;
      li {
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        margin-left: 10px;
      }
    }
  }
}
@media only screen and (max-width: 539px) {
  /* PC Điện thoại nhỏ hơn 539px */
  .footer {
    padding: 0px;
    padding-top: 20px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 50px;
      gap: 20px 0px;
    }
    &__column:nth-child(3) {
      display: block;
    }
    &__right__social {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    &__right__list {
      margin-top: 15px;
    }
  }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  /* Điện thoại màn hình lớn thua IPAD */
  .footer {
    padding: 0px;
    padding-top: 20px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 50px;
      gap: 20px 0px;
    }
    // &__column:nth-child(1) {
    //   margin-bottom: 20px;
    // }
    &__column:nth-child(3) {
      display: block;
    }
    &__right__social {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    &__right__list {
      margin-top: 15px;
    }
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  /* IPAD  */
  .footer {
    padding: 0px;
    padding-top: 20px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 50px;
      gap: 10px 0px;
    }
    // &__column:nth-child(1) {
    //   margin-bottom: 20px;
    // }
    &__column:nth-child(3) {
      display: block;
    }
    &__right__social {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    &__right__list {
      margin-top: 15px;
    }
  }
}
@media only screen and (min-width: 960px) and (max-width: 1139px) {
  /* IPAD Pro */
  .footer {
    padding: 20px 0px 0px 0px;
    &__right {
      &__social {
        display: block;
        & img {
          margin: 10px 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1140px) and (max-width: 1319px) {
  /* PC lớn hơn 1200px */
}
@media only screen and (min-width: 1320px) {
}
