.header {
  &__content {
    &__title {
      margin-top: 64px;
      span {
        font-weight: 700;
        color: $primary;
      }
    }
    &__heading {
      width: 690px;
      margin: 0 auto;
      padding-bottom: 117px;
    }
  }
}
@media only screen and (max-width: 539px) {
  /* PC Điện thoại nhỏ hơn 539px */
  .header {
    &__content {
        &__heading {
            width: 100%;
        }
    }
  }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
  /* Điện thoại màn hình lớn thua IPAD */
  .header {
    &__content {
        &__heading {
            width: 100%;
        }
    }
  }
}
